body {
  background-color: #15233c;
  font: 700 1.563em/1.38 Helvetica;
  color: #ecaa32;
}

.text {
  float: left;
  margin-left: 10%;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 150px;
  height: 44px;
  margin: 15px 0 0 10%;
  border-radius: 3px;
  background-color: #1e907e;
  font-size: 0.64em;
  text-align: center;
  color: #ecaa32;
}

._text {
  clear: both;
  margin-top: 15px;
  font-size: 1em;
  font-weight: 400;
  color: #b5bb62;
}

.text-1 {
  width: 80%;
  min-height: 31px;
  margin-top: 30px;
  font-size: 1.6em;
  color: #ecaa32;
}